@using System.Formats.Asn1
@using Models
<h1>Hello world !</h1>

<div class="SchoolList">
    @foreach (Address school in ViewBag.Schools) {
        <div class="SchoolList-item">
            <h2>@school.City</h2>
            <p>@school.ToString()</p>
        </div> 
    }
</div>