@using System.Formats.Asn1
@using Models
<h1>Hello world !</h1>

<div class="SchoolList">
    @foreach (School school in ViewBag.Schools) {
        <div class="SchoolList-item">
            <h2>@school.SchoolName</h2>
            <p>@school.Address.ToString()</p>
        </div> 
    }
</div>