.Form {
    padding: 1rem;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.Form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.Form-submit {
    grid-column: 1/-1;
    width: fit-content;
    margin: auto;
}

.FormCol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.FormCol-item {
    display: grid;
    align-content: center;
    min-height: 5rem;
}

.FormCol-itemExplainer {
    font-size: 12px;
}

.SearchItem {
    grid-column: 1/-1;
}

.field-validation-error {
    color: darkred;
}

